.project-page-title {
    margin-top: 40px;
    margin-bottom: 35px;
   
}

.project-card h3 {
    color: #e74c3c
}

.projects-section {
    margin-top: -30px;
}

/* General Button Styling */
a.view-more, a.view-more-2 {
    text-decoration: none; /* Remove the underline from the link */
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block; /* Makes the link behave like a block-level element */
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer; /* Change cursor to pointer on hover */
}

/* View More Button */
a.view-more {
    background-color: #e74c3c; /* Red background */
    color: #ffffff; /* White text */
    border: 1px solid #e74c3c; /* Red border */
}

a.view-more:hover {
    background-color: #ffffff; /* White background on hover */
    color: #e74c3c; /* Red text on hover */
    border: 1px solid #e74c3c; /* Keep the red border */
}

/* Research Paper Button */
a.view-more-2 {
    background-color: #4a4a4a; /* Grey background */
    color: #ffffff; /* White text */
    border: 1px solid #4a4a4a; /* Grey border */
    margin-top: 10px;;
}

a.view-more-2:hover {
    background-color: #ffffff; /* White background on hover */
    color: #4a4a4a; /* Grey text on hover */
    border: 1px solid #4a4a4a; /* Keep the grey border */
}
